<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="center-block my-av wow bounceIn"></div>
                <hr class="light">
                <p class="text-faded">
                  In a world that is constantly changing and adapting, I believe that to be successful you must be willing to change and adapt with it. This belief is what drew me to the world of web development. I am a full stack web developer and a BYU business graduate.
                  <br /><br />
                  Creativity is one of my greatest strengths, which constantly pushes me to grow as a developer. I have an eye for sophisticated design and take pride in making projects look good. I look forward to beginning a career in Web Development, where I can use my business skill set, creativity and technical problem solving to create functional web apps.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
