<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6" id="pong-break">
                <a href="https://jessehancock.github.io/campWasatch/#/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/CAMP.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Built for a potential business with html,  css,  javascript,  and angular.
                            </div>
                            <div class="project-name">
                                Camp Wastach
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/MT.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Full stack application local business using html, scss, angular, express, and SQL.
                            </div>
                            <div class="project-name">
                                Music Together
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://jessehancock.github.io/movvie/#/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/movvie.io.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                A web application to to search for movies and display their ratings which hits a RESTful API.
                            </div>
                            <div class="project-name">
                                Movvie.io
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://jessehancock.github.io/twitter-clone/" target="_blank" class="portfolio-box">
                    <img src="img/twitter-logo.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                A clone of the twitter feed using HTML, CSS and jQuery
                            </div>
                            <div class="project-name">
                                Twitter Clone
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a "#" class="portfolio-box">
                    <img src="img/portfolio/AirBnb.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                A clone of AirBnb built with ReactJS, javascript, jsx, and material UI.
                            </div>
                            <div class="project-name">
                                instaJam
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">
                                coming soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
