<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="angular-icon" class="wow bounceIn text-primary skill-icon"></div>
                    <h3>Angular.js</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="css3-icon" class="wow bounceIn text-primary skill-icon" data-wow-delay=".1s"></div>
                    <h3>CSS3</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="react-icon" class="wow bounceIn text-primary skill-icon" data-wow-delay=".2s"></div>
                    <h3>React</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="gulp-icon" class="wow bounceIn text-primary skill-icon" data-wow-delay=".3s"></div>
                    <h3>gulp</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container top-marg">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="git-icon" class="wow bounceIn text-primary skill-icon"></div>
                    <h3>git</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="javascript-icon" class="wow bounceIn text-primary skill-icon" data-wow-delay=".1s"></div>
                    <h3>JavaScript</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="html-icon" class="wow bounceIn text-primary skill-icon" data-wow-delay=".2s"></div>
                    <h3>HTML5</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="bootstrap-icon" class="wow bounceIn text-primary skill-icon" data-wow-delay=".3s"></div>
                    <h3>bootstrap</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container top-marg">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="jquery-icon" class="wow bounceIn text-primary skill-icon"></div>
                    <h3>jQuery</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="postgres-icon" class="wow bounceIn text-primary skill-icon" data-wow-delay=".1s"></div>
                    <h3>PostgreSQL</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="node-icon" class="wow bounceIn text-primary skill-icon" data-wow-delay=".2s"></div>
                    <h3>Node.js</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div id="express-icon" class="wow bounceIn text-primary skill-icon" data-wow-delay=".3s"></div>
                    <h3>express.js</h3>
                </div>
            </div>
        </div>
    </div>
</section>
